.page-header
%p= @api_recipe.title
%p= image_tag((@api_recipe.image), style: "height: 200px")
.caption
%p= @api_recipe.likes

%panel.panel-info
  .panel-heading
    Ingredients Needed
  %ul.list-group
    - @api_recipe.ingredients.each do |ingredient|
      %li.list-group-item= ingredient

%panel.panel-info
  .panel-heading
    Instructions
  %ul.list-group
    - @api_recipe.instructions.each do |instruction|
      %li.list-group-item= instruction
