%p
  \---- FROM THE API ----
%p= api_recipe.id
%p= api_recipe.title
= image_tag("api_recipe.image.jpg")
%p= api_recipe.imageType
%p= api_recipe.usedIngredientCount
%p= api_recipe.missedIngredientCount
%p= api_recipe.likes
