.page-header
  = link_to recipes_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Next

%dl.dl-horizontal
  %dt Meat:
  %dd= @ingredient.meat
  %dt Vegetable:
  %dd= @ingredient.vegetable
  %dt Seasoning:
  %dd= @ingredient.seasoning
  %dt Grain:
  %dd= @ingredient.grain
  %dt Fruit:
  %dd= @ingredient.fruit
